{% extends "template.html" %}

<!-- New Code (attempting to merge from graphing.html) -->
{% block body %}
<body class="body">
    <div class="container" align="left">
      <embed type="image/svg+xml" src={{graph_data|safe}} style='max-width:1000px'/>
    </div>
</body>
{% endblock %}

<!-- orig code -->
{% block content %}
<h3>Nahant Surf Report</h3>
<table class="table table-striped table-bordered table-hover table condensed">
<tr>
   <th>Day</th>
   <th>Time</th>
   <th>Swell Size</th>
   <th>Swell Interval</th>
   <th>Wind Description</th>
   <th>Wind Direction</th>
   <th>Air Temp</th>
 </tr>
{% for x in info1 %}
<tr>
   <td>{{ x.Day }}</td>
   <td>{{ x.Tiempo }}</td>
   <td>{{ x.SwellSize }}</td>
   <td>{{ x.SwellInterval }}</td>
   <td>{{ x.WindDescription }}</td>
   <td>{{ x.WindSpeed }}</td>
   <td>{{ x.AirTemperature }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}